.ProductPublisher {
  display: flex;
  flex-wrap: wrap;
}

.ProductPublisher__item {
  text-align: center;
}

.ProductPublisher .ProductPublisher__item {
  width: calc(25% - 40px);
  margin: 20px;
  padding: 20px 0;
}

.ProductPublisher__img img {
  width: 90%;
  margin-bottom: 1em;
}

.ProductPublisher__title,
.ProductPublisher__author {
  margin-bottom: 1em;
}

.ProductPublisher__name-title {
  text-decoration: none;
  font-size: 1.5em;
}

.ProductPublisher__author .ProductPublisher__name-author {
  font-size: 1.1em;
}

.ProductPublisher__price {
  font-size: 1.8rem;
}
