.ProductCategory {
  display: flex;
  flex-wrap: wrap;
}

.ProductCategory__item {
  text-align: center;
}

.ProductCategory .ProductCategory__item {
  width: calc(25% - 40px);
  margin: 20px;
  padding: 20px 0;
}

.ProductCategory__img img {
  width: 90%;
  margin-bottom: 1em;
}

.ProductCategory__title,
.ProductCategory__author {
  margin-bottom: 1em;
}

.ProductCategory__name-title {
  text-decoration: none;
  font-size: 1.5em;
}

.ProductCategory__author .ProductCategory__name-author {
  font-size: 1.1em;
}

.ProductCategory__price {
  font-size: 1.8rem;
}
