.Header {
  display: flex;
  justify-content: space-between;

  background-color: pink;
  height: 100px;
}

.Header__logo {
  width: 20%;
}

.Header__Right {
  width: 80%;
}

.Header__menu {
  float: right;
}

.Header__menu ul {
  display: flex;
}

.Header__menu ul li {
  margin: 0 10px;
  list-style: none;
}

.Header__menu ul li a {
  text-decoration: none;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

.nav-header__list {
  display: flex;
  justify-content: center;
}

.nav-header__child {
  padding: 8px 15px;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
