li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.main {
  background-color: #f4f4f4;
  height: 100%;
}

.Content {
  display: flex;
  padding-top: 3em;
}

.Right__Content {
  width: 25%;
  display: inline-table;
  background-color: white;
  border-right: solid 2px #f4f4f4;
}

.Left__Content {
  width: 75%;
}
