.inner {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 1px;
    min-height: 400px;
    width: 100%;
}

.inner table {
    border-collapse: collapse;
    width: 100%;
    word-break: break-word;
}

.inner tr {
    border-bottom: 1px solid rgb(244, 244, 244);
}

.inner th,
.inner td {
    min-width: 130px;
    padding: 20px 15px;
    color: rgb(120, 120, 120);
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}

.inner td {
    font-size: 13px;
    line-height: 20px;
    color: rgb(51, 51, 51);
}

th:first-child,
td:first-child {
    width: 12%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 10%;
}

th:last-child,
td:last-child {
    width: 10%;
}

th,
td {
    text-align: center;
}
